.contact {
    &-title {
    font-family: $font-two;
    color: black;
    font-size: 16px;
    font-weight: 500;
    }

    &-description {
        font-family: $font-two;
        font-size: 14px;
    }
} 